.schedule {
  width: 100%;
}
.custom-event {
  background-color: #d7f0d6;
  padding: 5px;
  border-radius: 4px;
  color: var(--font-black-gray);
  font-size: 12px;
  width: 100%;
  position: relative;
}
.select-block {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 29px;
}
.MuiInputBase-root {
  height: 100%;
}

.select-block button {
  background-color: #decfff;
  color: var(--font-black-gray);
  padding: 0 93px;
  height: 100%;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
}
.payload-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: auto;
  z-index: 2;
}
.cancelled {
  text-decoration: line-through;
  color: #aaa;
  background-color: #d85f5f;
}
.fc-today-button {
  border-radius: 30px !important;
  border: 1px solid var(--font-purple) !important;
  background-color: #fff !important;
  color: var(--font-black-gray) !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  padding: 8px 20.5px !important;
}
