header {
  background-color: black;
}
.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  position: relative;
}
.logo {
  color: white;
}
.navbar button {
  border: none;
}
.menu {
  position: absolute;
  padding-top: 20px;
  background-color: bisque;
  width: 100%;
  top: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px 0;
  list-style: none;
}
.none {
  display: none !important;
}
